<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="quickge.tt.Properties.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="quickge.tt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="quickge.tt.Properties.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <quickge.tt.Properties.Default>
   <setting name="email" serializeAs="String">
    <value>null</value>
   </setting>
   <setting name="pass" serializeAs="String">
    <value>null</value>
   </setting>
  </quickge.tt.Properties.Default>
  <quickge.tt.Properties.Settings>
   <setting name="email" serializeAs="String">
    <value />
   </setting>
   <setting name="pass" serializeAs="String">
    <value />
   </setting>
   <setting name="apikey" serializeAs="String">
    <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7NgBr7rHo0qkwNxaBjfbSAAAAAACAAAAAAAQZgAAAAEAACAAAACGLXcAPXeRFrim3wQDJOO2mU2Br8Gdj4Qs++JJGE5a2wAAAAAOgAAAAAIAACAAAACtHEAF30H5vsTb+SHVV16HR+e6cSGZ3wuQldnsaCg/rVAAAAD/uoaHQL6EI0aFaXP1KBAG3lNFWUdepVN7rjHHl6yGRLSm+qgaWicvuSLRpJ3cnz9i553YXARoleEQdfr8sLh4J6BEVRwZqy5bJNM4lAZ8Q0AAAABWjyfVfBLRsQ2MGDtM2K6HvTKnLCDTw0OUnqdg66h+G9ZrkMCb6prpWt2E3X6+FapIn2HwcTGyDkpsXDZ9yXgb</value>
   </setting>
   <setting name="valid" serializeAs="String">
    <value>False</value>
   </setting>
  </quickge.tt.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <quickge.tt.Properties.Default>
   <setting name="apikey" serializeAs="String">
    <value>null</value>
   </setting>
  </quickge.tt.Properties.Default>
 </applicationSettings>
</configuration>
